<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">#haitiearthquake</a>
    <ul class="nav pull-right">
      <a class="btn primary" href="#">Home</a>
    </ul>
  </div>
</div>

<div id="navigation">

</div>


<div id="main" class="container-fluid">
  <div id="map"></div>
</div>

<!--
<ul class="nav nav-pills sticky-footer">
  <li class="active"><a href="#">Map</a></li>
  <li><a href="#">test</a></li>
</ul>
-->


<script type="text/javascript">
  $(function() {
    window.navView = new Cc.Views.NavView();
    window.tweets = <%= @tweets.to_json.html_safe -%>;

    window.router = new Cc.Routers.Router({ tweets: <%= @tweets.to_json.html_safe -%>});
    Backbone.history.start();


  });

  function initialize() {
    var country = "<%= @country %>";

    var mapOptions = {
      zoom: 8,
      center: new google.maps.LatLng(37.7750, -122.4183),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    $("#map").css("height", $(window).height() - 200);
    var markers = [];

    var geocoder = new google.maps.Geocoder();
       geocoder.geocode( { 'address': country}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            map.fitBounds(results[0].geometry.viewport);
            map.setZoom(5);
          }
        });

    _.each(window.tweets, function(tweet, index, array) {
      if (tweet.geo) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(tweet.geo.coordinates[0], tweet.geo.coordinates[1]),
          map: map
        });
        var infoWindow = new google.maps.InfoWindow({
          content: "test"
        });
        makeInfoWindowEvent(map, infoWindow, marker);
        markers.push(marker);
      }
    });

    $(window).resize(function() {
      console.log("inside");
      var $map = $("#map");

      $map.css("height", $(window).height() - 100);
      google.maps.event.trigger(map, 'resize');
      map.setZoom(map.getZoom());
    });

    $(window).resize();


  }

  function makeInfoWindowEvent(map, infoWindow, marker) {
    google.maps.event.addListener(marker, 'click', function() {
      infoWindow.open(map, marker);
    });
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDTsJJjoBfh0V5txq77pGK1vVHk97sQ_zA&sensor=false&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>
