<div class="home-container">
  <div class="inner-container">
    <h1>CrowdsourceCrisis</h1>
    <input type="text" placeholder="Enter crisis tag"></input>
    <br />
    <a class="btn btn-primary" href="#">Search</a>
  </div>
</div>