<div class="home-container">
  <div class="inner-container">
    <h1>Crowdsource Crisis</h1>
    <h2>Plot Tweets of Crisis</h2>

    <div id="search-container">
        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <input class="control-input" type="text" id="tag" placeholder='Enter crisis (e.g. "earthquake")'>
                </div>
            </div> 

            <div class="control-group">
                <div class="controls">
                    <input type="text" id="country" placeholder='Enter country (e.g. "Japan")'>
                </div>
            </div> 

        </form>
    </div>


    <a id="search" class="btn btn-primary btn-large" href="#">Plot Map</a>
  </div>
</div>