<ul class="nav nav-pills">
  <li><a class="nav-link active" data-link="map" href="#map">Map</a></li>
  <li><a class="nav-link" data-link="activity" href="#activity">Activity</a></li>
  <li><a class="nav-link" data-link="find" href="#find" href="#find">Find Person</a></li>
</ul>  