<ul class="nav nav-pills">
  <li class="active"><a id="map-link" class="nav-link" data-link="map" href="#map">Map</a></li>
  <li><a id="activity-link" class="nav-link" data-link="activity" href="#activity">Activity</a></li>
</ul>