/*****************
* Shared Styles
******************/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-size: 20px;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #555;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

.nav {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  padding: 10px;
  margin: 0 0px;
}

.sticky-footer {
  bottom: 0;
  position: fixed;
}

#main {
  padding: 0;
}

#map {
  height: 400px;
}

#map img {
  max-width: none;
}

/*
Search View
*/
.form-horizontal .control-label {
  width: 100px;
}

.form-horizontal .controls {
  margin: 0;
}

label {
  display: inline;
}

.input-set {
  margin-bottom: 20px;
}

#search-container {
  margin: 0 auto;
  width: 400px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 2px;
  margin: 0;
  font-size: 20px;
  color: #333;
  width: 300px;
}
input[type="text"]::-webkit-input-placeholder {
  color: #777;
  padding: 3px 0 0 0;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color:#f00;
} /* firefox 19+ */

:-ms-input-placeholder {
  color:#f00;
} /* ie */

.btn-primary {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
  font-weight: bold;
}


/*
Home View
*/

.home-container {
  display: table;
  width: 100%;
  text-align: center;
}

.inner-container {
  display: table-cell;
  height: 300px;
  vertical-align: middle;
}

/*
Activity View
*/
#activity-list {
  margin: 0;
  list-style: none;
}

#activity-list li {
  padding: 10px;
  min-height: 50px;
  border-bottom: 1px solid #CCCCCC;
}

#activity-list li img {
  float: left;
}

#activity-list .activity-content {
  margin: 0 0 0 60px;
}

