/*****************
* Shared Styles
******************/
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-size: 20px;
  background-color: #FFFFFF;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #444;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.sticky-footer {
  bottom: 0;
  position: fixed;
}

#main {
  padding: 0;
}

#map {
  height: 400px;
}

#map img {
  max-width: none;
}

/*
Header View
*/
.nav {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  padding: 10px;
  margin: 0 0px;
}

.navbar-inverse .navbar-inner {
  background-color: #555555;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0
  -moz-border-radius: 0;
}

.navbar-inverse .brand {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-shadow: none;
}

.navbar-inverse .brand:hover {
  background-color: #555555;
  text-shadow: none;
  color: #FFFFFF;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
  color: #FFFFFF;
}

.nav-pills > li > a {
  border-radius: 0px;
  font-weight: bold;
}

.nav-pills > li > a:hover {
  color: #FFFFFF;
}

#navigation {
  background-color: #333;
}

#navigation a {
  color: #FFFFFF;
}

#navigation a:visited {
  color: #FFFFFF;
}

#navigation a:hover {
  background-color: #CCCCCC;
}

/*
Search View
*/
.form-horizontal .control-label {
  width: 100px;
}

.form-horizontal .controls {
  margin: 0;
}

label {
  display: inline;
}

.input-set {
  margin-bottom: 20px;
}

#search-container {
  margin: 0 auto;
  width: 400px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 2px;
  margin: 0;
  font-size: 20px;
  color: #333;
  width: 300px;
}
input[type="text"]::-webkit-input-placeholder {
  color: #777;
  padding: 3px 0 0 0;
}

::-webkit-input-placeholder {
  color: #777;
}

::-moz-placeholder {
  color: #777;
}

:-ms-input-placeholder {
  color: #777;
}

.btn-primary {
  color: #FFFFFF;
}

#search {
  color: #FFFFFF;
  font-weight: bold;
}


/*
Home View
*/

.home-container {
  display: table;
  width: 100%;
  text-align: center;
}

.inner-container {
  display: table-cell;
  height: 300px;
  vertical-align: middle;
}

/*
Activity View
*/
#activity-list {
  margin: 0;
  list-style: none;
}

#activity-list li {
  padding: 10px;
  min-height: 50px;
  border-bottom: 1px solid #CCCCCC;
}

#activity-list li img {
  float: left;
}

#activity-list .activity-content {
  margin: 0 0 0 60px;
}

.handle a {
  color: #FFFFFF;
}

.handle a:hover {
  color: #FFFFFF;
  background-color: #3a87ad;
}

.posted {
  display: block;
  font-size: 14px;
  font-style: italic;
}

/*
Marker
*/
.marker p {
  font-size: 14px;
}

.marker img {
  float: left;
}

.marker-meta {
  margin-left: 60px;
}