<img src="http://placehold.it/50x50" />
<div class="activity-content">Content
  <div class="activity-meta">
    <span class="handle">@danawhite</span>
    <span class="name">Dana White</span>
    <span class="posted">3 hours ago</span>
</div>
